### JetBrains template
.idea/
*.iws
out/

### Java template
*.class
*.log

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

hs_err_pid*

### Gradle template
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
